<sl-card class="card-overview">
    <img
            max-heigh="150px"
        slot="image"
        src="https://icons.iconarchive.com/icons/custom-icon-design/mono-general-2/512/document-icon.png"
        alt="A kitten sits patiently between a terracotta pot and decorative grasses."
    />

    <p style="margin: auto; padding: 1rem; text-overflow: ellipsis">
        {{ doc.name }}
    </p>
    <br />


    <div slot="footer">
        <sl-button variant="warning" pill>
            <sl-icon slot="prefix" name="x-octagon"></sl-icon>
            Discard
        </sl-button>
        <sl-button  hx-trigger="click"

                    hx-boost="true"
                    onclick="window.location.href='/documents/{{ doc.id }}/view'"
                    variant="primary" pill>
            <sl-icon slot="prefix" name="eye"></sl-icon>
            View
        </sl-button>
        <sl-button variant="success"
                   pill
                   class="add-to-report-button"
                   hx-on="click: document.querySelector('#add-insight-dialogue-{{ doc.id }}').show()"
                   data-doc-id="{{ doc.id }}">
            <sl-icon slot="prefix" name="folder-plus"></sl-icon>
            Add To Report
        </sl-button>
    </div>
</sl-card>
<sl-dialog id="add-insight-dialogue-{{ doc.id }}" hx-get="/documents/{{ doc.id }}/dialogue" hx-trigger="sl-show" label="Add to Report"></sl-dialog>

<style>
    .card-overview {
        max-width: 450px;
        padding: 1rem;
    }

    .card-overview small {
        color: var(--sl-color-neutral-500);
    }

    .card-overview [slot='footer'] {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>
